# Telegram Bot Token (получить от @BotFather)
TG_TOKEN=8899171707:AAGpGZLGmPK_6KzP_bP-q-0kwdpHaiJVc8I

# Fireworks API Key (получить на https://www.fireworks.ai/)
FIREWORKS_KEY=fw_Gx5HxP9yL14qSqvVQiR9TV